body, html {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.module {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); /* dünner Rand */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* sanfte Animation */
}

.module:hover {
  transform: scale(1.06); /* leicht vergrößert */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Schatten für Tiefe */
}
.module.green { background-color: #d4edda; color: #155724; }
.module.yellow { background-color: #fff3cd; color: #856404; }
.module.red { background-color: #f8d7da; color: #721c24; }

.semester-column {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.semester-title {
  text-align: center;
  margin-bottom: 10px;
}
.module-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;    /*justify-content: space-between;*/
}
.module-container {
  height: 160px;
  margin: 10px 0;
}
.module-title {
  font-weight: bold;
}
.module-credits {
  font-size: 0.9em;
  margin-top: 5px;
}
.module-header {
  background-color: #fff9c4;
  border: 1px solid #ccc;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.module-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.back-link {
  display: inline-block;
  margin-top: 2rem;
}
.text-orange {
  color: #ff8000 !important;
}