.mapping-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
}

.mapping-row {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.module-block {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 275px;
  max-width: 275px;
  min-height: 125px;
  text-align: center;
}

.mlu-block {
  flex: 0 0 275px;
  transition: transform 0.1s ease-in-out;
}
a.module-link:hover .mlu-block {
  cursor: pointer;
  transform: scale(1.1);
}
.bht-tub-block {
  flex: 0 0 250px;
}

/* Farbhintergründe per Klassennamen */
.color-white { background-color: white; color: black; }
.color-green { background-color: #d4edda; color: #155724; }
.color-yellow { background-color: #fff3cd; color: #856404; }
.color-red { background-color: #f8d7da; color: #721c24; }

.module-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.lp-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
}

.arrow {
  font-size: 50px;
  font-weight: bold;
  line-height: 125px;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
